<form action="create-account" method="POST">
	{{#if usernameTaken }}
		<label class="label-error" for="username">Username</label>
		<p class="error-message">Username is taken</p>
		<input class="input-error" type="text" id="username" name="username" value="{{ username }}">
	{{else}}
		{{#if username}}
		<label for="username">Username</label>
		<input type="text" id="username" name="username" value="{{ username }}">
		{{else}}
		<label for="username">Username</label>
		<input type="text" id="username" name="username">
		{{/if}}
	{{/if}}

	{{#if passwordTaken}}
		<label class="label-error" for="password">Password</label>
		<p class="error-message">Password is taken</p>
		<input class="input-error" type="password" id="password" name="password" value="{{ password }}">
	{{else}}
		{{#if password}}
		<label for="password">Password</label>
		<input type="password" id="password" name="password" value="{{ password }}">
		{{else}}
		<label for="password">Password</label>
		<input type="password" id="password" name="password">
		{{/if}}
	{{/if}}
	
	{{#if firstName}}
		<label for="first-name">First name</label>
		<input type="text" id="first-name" name="firstName" value="{{ firstName }}">
	{{else}}
		<label for="first-name">First name</label>
		<input type="text" id="first-name" name="firstName">
	{{/if}}

	{{#if lastName}}
		<label for="last-name">Last name</label>
		<input type="text" id="last-name" name="lastName" value="{{ lastname }}">
	{{else}}
		<label for="last-name">Last name</label>
		<input type="text" id="last-name" name="lastName">
	{{/if}}

	{{#if gender}}
		<label for="gender">Gender</label>
		<select name="gender" id="gender">
			<option value="male">Male</option>
			<option value="female">Female</option>
			<option value="other">Other</option>
		</select>
	{{else}}
		<label for="gender"></label>
		<select name="gender" id="gender">
			<option value="male">Male</option>
			<option value="female">Female</option>
			<option value="other">Other</option>
		</select>
	{{/if}}

	{{#if under18}}
		<label class="label-error" for="age">Age</label>
		<p class="error-message">Age must be above 18</p>
		<input class="input-error" type="number" id="age" name="age" value="{{ age }}">
	{{else}}
		{{#if age}}
			<label for="age">Age</label>
			<input type="number" id="age" name="age" value="{{ age }}">
		{{else}}
			<label for="age">Age</label>
			<input type="number" id="age" name="age">
		{{/if}}
	{{/if}}


	{{#if favGameGenres.length}}
			{{#each favGameGenres}}
				<label for="genre-{{@index}}">Favorite game genre {{math @index '+' 1}}</label>
				<select id="genres-{{@index}}" name="favGameGenres">
					<option value="">-- Select Favorite Game Genre --</option>
					{{#each ../gameGenres}}
						<option value="{{this.slug}}">{{this.name}}</option>
					{{/each}}
				</select>
			{{/each}}
	{{else}}
		<label for="genre-1">Favorite game genre 1</label>
		<select id="genres-1" name="favGameGenres">
			<option value="">-- Select Favorite Game Genre --</option>
			{{#each gameGenres}}
				<option value="{{this.slug}}">{{this.name}}</option>
			{{/each}}
		</select>
	{{/if}}

	<div class="double-btn">
		<button type="submit" formaction="create-account" value="add" name="genreAmount">Add Favorite game genre</button>

		<button type="submit" formaction="create-account" value="remove" name="genreAmount">Remove Favorite game genre</button>
	</div>

	<button type="submit">Create Account</button>
</form>